# Ignored file types
*.bak
*.DotSettings.user
*.[Rr]e[Ss]harper
*.suo
*.sln.docstates
*.tmp
*.user

# Ignored files
UpgradeLog*.XML
UpgradeLog*.htm

# Ignored folders
.vs/
Backup*/
[Bb]in/
[Oo]bj/
NDependOut/
node_modules/
publish/
_UpgradeReport_Files/

# Ignored paths
/src/packages/*/